.aui .fL {
  float: left; }

.aui .fR {
  float: right; }

.aui #admin-page a {
  color: #f48366; }

.aui #admin-page a:hover {
  text-decoration: none; }

html.aui {
  background-color: #f2eceb; }

.aui h1 {
  color: #4a4354;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  margin: 0;
  padding: 0 0 20px 0; }

.aui h6 {
  color: #4a4354;
  font-family: 'Palanquin', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
  padding: 0 0 0 0;
  text-transform: uppercase; }

.aui body {
  margin: 0;
  font-family: 'Palanquin', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #413b4a;
  background-color: #f2eceb; }

.aui * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.aui .login-block {
  background-color: #f2eceb;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%; }

.aui .login-block > div {
  margin: 0 auto;
  width: 420px; }

.aui .login-block .mini-form {
  background-color: #fff;
  padding: 50px;
  width: 100%; }

/*Contact Form Start*/
.aui .formRow {
  padding-bottom: 20px; }

.aui .formInnerField {
  background-color: #fdfdfd;
  border: none;
  padding-left: 160px;
  position: relative; }

.aui .formInnerField > label {
  background: inherit;
  bottom: 0;
  color: inherit;
  display: table;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  height: 48px;
  left: 0;
  top: 0;
  margin: 0;
  position: absolute;
  width: 160px; }

.aui .formInnerField > label > span {
  display: table-cell;
  line-height: 16px;
  padding: 2px 20px;
  text-align: left;
  vertical-align: middle; }

.aui .formInnerField > label > span > strong {
  color: #999999;
  display: block;
  font-weight: 400;
  padding-top: 2px; }

.aui input[type*=""], .aui textarea {
  margin: 0;
  width: 360px; }

.aui input[type*=""] {
  height: 46px; }

.aui input[type="password"] {
  letter-spacing: 2px; }

.aui #admin-page .tetxBox:focus, .aui #admin-page textarea:focus {
  border-color: #b3b3b3;
  outline: 0;
  border-radius: 0;
  box-shadow: none !important; }

.aui textarea, input {
  -webkit-appearance: none;
  border-radius: 0; }

.aui .form-textarea {
  display: block;
  height: 190px; }

.aui #admin-page .tetxBox, .aui #admin-page .textArea {
  background-color: #ffffff;
  border-color: #e6e0df;
  color: #4a4354;
  font-family: inherit;
  font-size: 16px;
  height: 48px;
  margin-bottom: 0;
  padding: 10px 16px;
  width: 360px; }

.aui .textareaRow {
  height: 190px; }

.aui .formInnerField.textareaRow > label {
  display: block;
  height: 100%; }

.aui .textareaRow {
  height: auto; }

.aui .textareaRow label span {
  display: block;
  padding: 18px;
  width: 100%; }

.aui #admin-page .textArea {
  color: #444444;
  font-size: 14px;
  height: 100px;
  resize: none; }

.aui .errorBox {
  color: #f48366;
  font-size: 14px;
  margin-left: 160px;
  padding: 5px 0 0; }

.aui .globalError {
  background-color: #f48366;
  color: #ffffff;
  display: none;
  padding: 10px 0; }

.aui .globalError i {
  font-size: 16px; }

.aui #admin-page .errorRow .tetxBox, .aui #admin-page .errorRow .textArea {
  border-color: #f48366; }

.aui input[type="submit"] {
  border: none; }

.aui button {
  font-family: inherit; }

.aui .textareaRow .formInnerField > label {
  display: block; }

/*Mini form*/
.aui .forgot-wrap {
  text-align: center; }

.aui .forgot-wrap p {
  padding-bottom: 15px; }

.aui .forgot-wrap .button {
  margin-bottom: 0; }

.aui .mini-form .tetxBox {
  margin-bottom: 0;
  height: 48px;
  border: none; }

.aui .mini-form input[type="text"] {
  width: 100%; }

.aui .mini-form .formInnerField {
  border: solid 1px #cbcbcb;
  padding-left: 110px; }

.aui .mini-form .formInnerField > label {
  background-color: #cbcbcb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 110px; }

.aui #admin-page .mini-form .tetxBox, .aui #admin-page .mini-form .textArea {
  width: 100%; }

.aui .button {
  color: #0084c1;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 5px 20px;
  position: relative;
  text-transform: uppercase;
  vertical-align: top;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.aui .button, .aui .button-primary {
  background-color: #f48366;
  border: none;
  color: #fff;
  display: inline-block;
  text-align: center; }

.aui .button-fluid {
  width: 100%; }

.aui .button:focus {
  outline: none; }

.aui .button:hover, .aui .button-primary:hover {
  background-color: #dc6546;
  color: #fff; }

.aui .button[disabled="disabled"], .aui .button[disabled="disabled"]:hover {
  background-color: #ccc;
  cursor: default; }

.aui .button-secondary {
  height: 56px;
  line-height: 26px;
  margin-left: 29px;
  padding: 15px 50px; }

/*Place holder*/
.aui ::-webkit-input-placeholder {
  color: #999999; }

.aui :-moz-placeholder {
  color: #999999; }

.aui ::-moz-placeholder {
  color: #999999; }

.aui :-ms-input-placeholder {
  color: #999999; }

/*select menu*/
.aui .ui-corner-all {
  border-radius: 0; }

.aui .ui-selectmenu-button:focus {
  outline: none; }

.aui .ui-selectmenu-button {
  background: #ffffff;
  border: solid 1px #e6e0df;
  display: inline-block;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
  width: 360px !important; }

.aui .small-select .ui-selectmenu-button {
  width: 92px !important; }

.aui .ui-selectmenu-button span.ui-selectmenu-text {
  color: #444444;
  display: block;
  padding: 13px 50px 13px 16px;
  line-height: 22px; }

.aui .ui-menu .ui-menu-item {
  background-color: #ffffff;
  border-top: solid 1px #d8d8d8;
  color: #444444;
  font-size: 16px;
  margin: 0 !important;
  padding: 12px 16px;
  line-height: 22px; }

.aui .ui-menu .ui-menu-item:first-child {
  border: none; }

.aui .ui-selectmenu-menu {
  max-height: 160px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll; }

.aui .ui-selectmenu-menu .ui-menu {
  border: solid 1px #d8d8d8;
  margin: 0;
  padding: 0; }

.aui .ui-selectmenu-button span.ui-icon {
  height: 46px;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: inherit;
  top: 0;
  width: 46px; }

.aui .ui-selectmenu-button span.ui-icon:after {
  color: #f48366;
  content: "\f078";
  font-family: Fontawesome;
  font-size: 14px;
  left: 50%;
  margin-left: -6px;
  margin-top: -11px;
  position: absolute;
  top: 50%; }

/*select menu*/
.aui .errorRow .ui-selectmenu-button {
  border-color: #f48366; }

.aui .form-link {
  text-align: center; }

.aui .logo-main {
  margin-bottom: 60px;
  text-align: center; }

/* header */
.aui header {
  background-color: #4a4354;
  padding: 20px; }

.aui .title-block {
  border-bottom: solid 1px #e6e0df;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 20px; }

.aui .title-block h1 {
  padding-bottom: 0; }

.aui .content-block .whiteBg {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px; }

.aui .dashboard-list {
  margin-left: -15px;
  margin-right: -15px; }

.aui .dashboard-list li {
  background-color: #ffffff;
  display: inline-block;
  list-style: none;
  margin: 15px;
  min-width: 240px;
  padding: 40px;
  text-align: center; }

.aui .list-img {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  min-height: 52px;
  width: 100%; }

.aui #navigation {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.aui #menu-trigger, .aui #close-trigger, .aui #close-trigger span {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.aui #menu-trigger {
  cursor: pointer;
  padding: 20px;
  width: 60px; }

.aui header.open #menu-trigger {
  opacity: 0;
  visibility: hidden; }

.aui #menu-trigger span, .aui #close-trigger span {
  background-color: #ffffff;
  display: block;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  height: 3px;
  margin-bottom: 3px;
  width: 100%; }

.aui #close-trigger {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 250px;
  margin: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer; }

.aui #close-trigger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 0;
  visibility: hidden;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.aui header.open #close-trigger span {
  opacity: 1;
  visibility: visible; }

.aui header.open #close-trigger span:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.aui header.open #close-trigger span:last-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.aui #navigation {
  background-color: #383340;
  position: fixed;
  height: 100%;
  right: -240px;
  top: 0;
  width: 240px;
  z-index: 999; }

.aui header.open #navigation {
  right: 0; }

.aui #navigation nav {
  padding: 30px 45px; }

.aui #navigation nav ul {
  margin: 0;
  padding: 0 10px 20px; }

.aui #navigation nav ul li {
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  padding: 25px 0;
  text-transform: uppercase; }

.aui #navigation nav ul li:hover {
  cursor: pointer; }

.aui #navigation nav ul li a {
  color: #8c8799; }

.aui #navigation nav ul li:hover a {
  color: #ffffff; }

.aui #navigation nav ul li .nav-icon {
  display: inline-block;
  margin-right: 15px;
  min-width: 30px;
  text-align: center; }

.aui #admin-page h6 a {
  color: #4a4354; }

.aui .right-form > div {
  display: inline-block;
  vertical-align: bottom; }

.aui .change-photo {
  padding-left: 30px;
  width: 400px; }

.aui .hint-text {
  color: #b2b2b2; }

.aui .sub-division {
  border-bottom: solid 1px #f2eceb;
  margin: 0 -30px 30px;
  padding: 0 30px 30px; }

.aui .sub-division:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

.aui .sub-division .formRow:last-child {
  padding-bottom: 0; }

.aui .add-photo {
  align-items: center;
  background-color: #8c8799;
  display: flex;
  height: 280px;
  justify-content: center;
  margin-bottom: 12px;
  max-width: 590px;
  text-align: center;
  width: 100%; }

.aui .file-button-block.add-photo {
  display: flex;
  overflow: hidden; }

.aui .file-button-block.add-photo img {
  padding-bottom: 15px;
  width: 100%; }

.aui .cover-block img {
  padding-bottom: 15px;
  width: 100%; }

.aui .cover-text {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase; }

.aui .hint-box {
  padding-top: 5px;
  width: 360px; }

.aui .button-block {
  padding: 0 0 30px 190px; }

.aui .button-medium {
  min-width: 210px; }

.aui .button-mini {
  margin-bottom: 0;
  min-width: inherit; }

.aui .file-button-block {
  display: inline-block;
  position: relative; }

.aui #admin-page .file-button {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.aui #admin-page .breadcrumb {
  padding: 0 0 8px 0;
  margin: 0;
  list-style: none;
  background-color: inherit;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.aui #admin-page .breadcrumb > li {
  color: #b2b2b2;
  display: inline-block;
  *display: inline;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0px 0 8px;
  position: relative;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1; }

.aui #admin-page .breadcrumb > li:first-child {
  padding-left: 0; }

.aui #admin-page .breadcrumb > li:before {
  content: '/';
  position: absolute;
  left: 0;
  bottom: 0; }

.aui #admin-page .breadcrumb > li:first-child:before {
  display: none; }

.aui #admin-page .breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc; }

.aui #admin-page .breadcrumb > .active {
  color: #999999; }

.aui .search-bar {
  display: inline-block;
  margin-right: 40px;
  position: relative; }

.aui .search-bar:last-child {
  margin-right: 0; }

.aui #admin-page .search-bar .tetxBox {
  padding-right: 50px; }

.aui .search-bar .fa {
  color: #b3b3b3;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  position: absolute;
  padding-top: 14px;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px; }

.aui .list-table {
  border: solid 1px #e6e0df;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative; }

.aui .list-table:before {
  background-color: #ffffff;
  content: '';
  position: absolute;
  height: 100%;
  left: -2000px;
  top: 0;
  width: 6000px; }

.aui .list-table thead {
  position: relative; }

.aui .list-table thead:before {
  background-color: #e6e0df;
  content: '';
  position: absolute;
  height: 56px;
  left: -2000px;
  top: 0;
  width: 6000px; }

.aui .list-table td:before {
  background-color: #e6e0df;
  content: '';
  position: absolute;
  height: 1px;
  left: -3000px;
  bottom: 0;
  width: 6000px; }

.aui .list-table thead th {
  background-color: #e6e0df;
  border: solid 1px #e6e0df;
  color: inherit;
  font-size: 16px;
  padding: 15px;
  position: relative;
  text-align: left;
  text-transform: uppercase; }

.aui .list-table tbody td {
  border: solid 1px #e6e0df;
  color: #333;
  padding: 10px 15px; }

.aui .list-table thead th:first-child, .aui .list-table tbody td:first-child {
  padding-left: 0; }

.aui .list-table thead th:last-child, .aui .list-table tbody td:last-child {
  padding-right: 0;
  text-align: right; }

.aui .list-table tbody tr {
  background-color: #ffffff;
  position: relative; }

.aui .list-table tbody tr:hover {
  background-color: #fffbe5; }

.aui .list-table tbody td {
  border-left: none;
  border-right: none;
  position: relative; }

.aui .button-small {
  height: auto;
  font-size: 12px;
  margin-bottom: 0;
  min-width: inherit;
  padding: 0 5px;
  width: 100%; }

.aui .button-active {
  background-color: #a7cc56;
  padding: 0 15px;
  position: relative; }

.aui .button-deactive {
  background-color: #b3b3b3;
  padding: 0 15px;
  position: relative; }

.aui .button-active:hover {
  background-color: #a7cc56; }

.aui .button-deactive:hover {
  background-color: #b3b3b3; }

.aui .button-active span, .aui .button-deactive span {
  position: relative; }

.aui .button-active span:before {
  color: #fff;
  content: "";
  font-family: Fontawesome;
  font-size: 12px;
  font-weight: normal;
  left: -18px;
  position: absolute; }

.aui .button-deactive span:before {
  color: #fff;
  content: "";
  font-family: Fontawesome;
  font-size: 12px;
  font-weight: normal;
  left: -18px;
  position: absolute; }

.aui .pagination {
  text-align: right; }

.aui .pagination ul {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.aui .pagination ul > li {
  display: inline-block;
  margin: 0 5px; }

.aui .pagination ul > li:first-child > span, .aui .pagination ul > li:last-child > span, .aui .pagination ul > li > a {
  border: none; }

.aui .pagination ul > li > a, .aui .pagination ul > li > span {
  background-color: #ffffff;
  line-height: 16px;
  padding: 10px 13px !important; }

.aui #admin-page .pagination ul > li a {
  color: #413b4a; }

.aui #admin-page .pagination ul > li:hover a {
  color: #f48366; }

.aui #admin-page .pagination ul > li:hover > a {
  background-color: #f48366;
  color: #ffffff; }

.aui .table-block {
  overflow: hidden; }

.aui .top-patch {
  background-color: #ffffff;
  padding: 10px 0;
  position: relative; }

.aui .top-patch:before {
  background-color: inherit;
  content: '';
  height: 100%;
  position: absolute;
  left: -3000px;
  top: 0;
  width: 6000px; }

.aui .top-patch .ui-selectmenu-button {
  border-color: transparent;
  font-size: 14px;
  font-weight: bold;
  width: auto !important; }

.aui .top-patch .ui-menu .ui-menu-item {
  font-size: 14px; }

.aui .hint-alert {
  color: #f48366;
  font-weight: bold;
  padding-left: 10px; }

.aui #admin-page .tetxBox.miniBox {
  width: 80px; }

.aui #admin-page .tetxBox.miniBox2 {
  margin-right: 20px;
  text-align: center;
  width: 92px; }

.aui #admin-page .tetxBox.miniBox[maxlength="2"] {
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 50px; }

.aui #admin-page .tetxBox.miniBox[maxlength="4"] {
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 70px; }

.aui .ui-datepicker {
  background-color: #e0e6e8; }

.aui .ui-widget-header {
  background-color: #4a4354;
  color: white; }

.aui .ui-widget-header a {
  background-color: #fff;
  cursor: pointer; }

.aui .ui-widget-header a:before {
  color: #4a4354;
  content: "\f053";
  font-family: 'FontAwesome';
  font-size: 16px;
  left: 6px;
  position: absolute;
  top: 1px; }

.aui .ui-widget-header a.ui-datepicker-next:before {
  content: "\f054";
  left: 9px; }

.aui .ui-widget-header a span {
  display: none !important;
  position: relative; }

.aui .ui-widget-header .ui-datepicker-next, .aui .ui-widget-header .ui-datepicker-next-hover {
  border: none;
  right: 3px;
  top: 3px; }

.aui .ui-widget-header .ui-datepicker-prev,
.aui .ui-widget-header .ui-datepicker-prev-hover {
  border: none;
  left: 3px;
  top: 3px; }

.aui .ui-datepicker td {
  border: 1px solid white; }

.aui .ui-datepicker-calendar .ui-state-highlight,
.aui .ui-widget-content .ui-datepicker-calendar .ui-state-highlight {
  border-color: #cc0033; }

.aui .ui-datepicker-calendar .ui-state-default,
.aui .ui-widget-content .ui-datepicker-calendar .ui-state-default {
  background-color: white; }

.aui .ui-widget-content .ui-datepicker-calendar .ui-state-hover, .aui .ui-widget-content .ui-datepicker-calendar .ui-state-active {
  border: 1px solid #f48366;
  color: #f48366; }

.aui .checkWrap {
  max-width: 500px; }

.aui .checkButton .ui-state-default {
  background-color: #ffffff;
  border: none;
  color: #4a4354;
  margin: 0 10px 25px 0;
  min-width: 145px;
  padding: 6px 0 6px 42px;
  position: relative;
  text-align: left; }

.aui .checkButton .ui-state-default:before {
  background-color: #ffffff;
  align-items: center;
  border: 1px solid #e0e0df;
  content: "\f00c";
  color: #ffffff;
  display: flex;
  height: 30px;
  justify-content: center;
  font-family: 'FontAwesome';
  left: 0;
  position: absolute;
  top: 5px;
  width: 30px; }

.aui .checkButton .ui-state-default.ui-state-active:before {
  background-color: #f48366; }

.aui .checkButton .ui-state-default.ui-button-text-only .ui-button-text {
  padding: 0; }

.aui .errorRow .checkButton .ui-state-default:before {
  border-color: #f48366; }

